.c-button{
    padding: 12px;
    display: inline-block;
    cursor: pointer;
    border-radius: 4px;
    border: 1px solid #0056b8;
    background-color: #0056b8;
    color: white;

    &--secundario{
        background-color: white;
        color: #0056b8;
    }

    &--terciario{
        background-color: white;
        color: #0056b8;
        border: none;
    }

    &--alternativo{
        background-color: #ed8936;
        border-color: #ed8936;
        color: white;
    }

    &--peligroso{
        background-color: #c53030;
        border-color: #c53030;
        color: white;
    }
}
