.l-page {
    display: grid;
    grid-template-areas: "cabecera cabecera cabecera" "lateral-izquierdo central lateral-derecho" "footer footer footer";
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
    gap: 10px;
    &__area-cabecera {
        grid-area: cabecera;
    }
    &__area-central {
        grid-area: central;
    }
    &__area-lateral-derecho {
        grid-area: lateral-derecho;
    }
    &__area-lateral-izquierdo {
        grid-area: lateral-izquierdo;
    }
    &__area-footer {
        grid-area: footer;
    }
}

.l-2-columnas {
    display: grid;
    grid-template-areas: "panel-izquierdo panel-derecho";
    gap: 10px;
    &__derecha {
        grid-area: panel-derecho;
    }
    &__izquierda {
        grid-area: panel-izquierdo;
    }
}

.l-zig-zag {
    display: grid;
    grid-template-areas: "arriba-izquierda arriba-derecha" "medio-izquierdo medio-dercha" "abajo-izquierda abajo-derecha";
    &__arriba-izquierda {
        grid-area: arriba-izquierda;
    }
    &__medio-derecha {
        grid-area: medio-dercha;
    }
    &__abajo-izquierda {
        grid-area: abajo-izquierda;
    }
}

.c-button {
    padding: 14px;
    width: 100px;
    border-radius: 4px;
    &--secundario {
        color: white;
        background-color: #0056b8;
    }
    &--terciario {
        color: #0056b8;
        border: none;
        text-decoration: underline;
        background-color: transparent;
    }
}

.c-panel {
    &__titulo {
        border-radius: 4px;
        padding: 14px;
        background-color: #0056b8;
        color: white;
        &--alternativo {
            background-color: #ed8936;
        }
    }
}