<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">App Clientes</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link" routerLink="/">Inicio</a>
          <a class="nav-link" routerLink="/clientes">Clientes</a>
          <a class="nav-link" routerLink="/articulos">Articulos (No existe)</a>
          <a class="nav-link" routerLink="/prohibida">Página prohibida (Solo Admin)</a>
        </div>
      </div>
    </div>
  </nav>
