.l-page{
    &--body {
    display: grid;
    height: 100vh;
    grid-template-rows: auto 1fr auto;
    }

    &--header {
    padding: 2rem;
    }

    &--footer {
    padding: 2rem;
    text-align: center;
    }
}