.l-columns{
    display: grid;
    grid-template-areas: "columna-izquierda columna-derecha";
    &--2 {
        grid-area: columna-derecha;
        grid-gap: 100px;
    }
    &--3 {
        grid-template-areas: "columna-izquierda columna-centro columna-derecha";
        grid-area: columna-centro;
        grid-gap: 12px;
    }
}