.l-page{
    &__body {
    display: grid;
    height: 100vh;
    grid-template-rows: auto 1fr auto;
    }

    &__header {
    padding: 2rem;
    }

    &__footer {
    padding: 2rem;
    text-align: center;
    }
}