.c-title{
    &--destacado{
        color:blue;
    }
    &--degradado{        
        background: -webkit-linear-gradient(45deg, #57a1f0, #22d1ee 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}