$border-radius: (
    "0": 0px,
    "1": 2px,
    "2": 4px,
    "3": 6px,
    "4": 8px,
    "5": 16px,
    "6": 32px
);

$font-sizes: (
    "3xs": 8px,
    "2xs": 10px,
    "xs": 12px,
    "s": 14px,
    "m": 16px,
    "l": 18px,
    "xl": 20px,
    "2xl": 22px,
    "3xl": 24px
);

$margins: (
    "0": 0px,
    "1": 4px,
    "2": 8px,
    "3": 12px,
    "4": 16px,
    "5": 20px,
    "6": 24px,
    "7": 32px,
    "8": 40px,
    "auto": auto
);

$paddings:map-merge(
$margins,("auto":"auto")
);


$texto:(
    "parrafo":(
        "font-family": "Arial",
        "font-sizes":(
            "s":20px,
            "m":25px,
            "l":30px,
            "xl":40px
        )
    ),
    "titulo":(
        "font-family":"Times New Roman",
        "font-sizes":(
            "xs":40px,
            "s":45px,
            "m":50px,
            "l":60px
        )
    )
)