.c-panel {

    &__titulo {
        background-color: #0056b8;
        color: #FFFFFF;
        border-radius: getBorderRadius("2");

        &--secundario {
            background-color: #FFFFFF;
            color: #0056b8;
        }
    }
    
    &__texto {
        background-color: #FFFFFF;
        color: #000000;
    }
}