.c-cuadrado {
    border: 1px solid getColor("black", 1);
    width: getWidth("8");
    height: getHeight("8");
    transition: transform 3s ease-in-out;

    &:hover {
        transform: scale(1.25, 1.25);
    }

    @media (min-width: 750px) {
        width: max(getWidth("8"), 5vw);
        height: max(getHeight("8"), 5vw);
    }
}
