@each $key in getPaddingKeys() {
    .g--padding-#{$key} {
      padding: getPadding($key);
    }

    .g--padding-top-#{$key} {
      padding-top: getPadding($key);
    }

    .g--padding-bottom-#{$key} {
      padding-bottom: getPadding($key);
    }

    .g--padding-left-#{$key} {
      padding-left: getPadding($key);
    }

    .g--padding-right-#{$key} {
      padding-right: getPadding($key);
    }

    .g--padding-vertical-#{$key} {
      padding-top: getPadding($key);
      padding-bottom: getPadding($key);
    }

    .g--padding-horizontal-#{$key} {
      padding-left: getPadding($key);
      padding-right: getPadding($key);
    }
}