.l-2-columnas {
    display: grid;
    grid-template-areas: "lateral-izquierdo lateral-derecho";
    gap: 10px;

    &__lateral-izquierdo{
        grid-area: lateral-izquierdo;
    }
    &__lateral-derecho{
        grid-area: lateral-derecho;
    }
}