.l-extremos{
    display: grid;
    grid-template-areas: "izquierda derecha";
    &__izquierda{
        display: grid;
        grid-area: izquierda;
    }
    &__derecha{
        display: grid;
        grid-area: derecha;
    }
}