.c-button {
    padding: getPadding("3");
    display: inline-block;
    cursor: pointer;
    border-radius: getBorderRadius("2");
    border: 1px solid getColorIndex("gray", 5);
    background-color: $background-color;
    color: getColorIndex("yellow", 3);
    &:hover {
        color: getColorIndex("white", 1);
        border: 1px solid getColorIndex("yellow", 5);
    }
    &--terciario {
        background-color: $background-color;
        color: getColorIndex("yellow", 5);
        text-decoration: none;
        border: none;
        &:hover {
            color: getColorIndex("yellow", 5);
            border: none;
            text-decoration: underline;
        }
    }
    &--alternativo {
        border-radius: getBorderRadius("0");
        background-color: $background-color;
        color: getColorIndex("blue", 5);
        text-decoration: none;
        border: none;
        &:hover {
            text-decoration: none;
            border: none;
            color: getColorIndex("blue", 5);
            background-color: getColorIndex("gray", 5);
        }
    }
}