.c-button {
    padding: getPadding("3");
    display: inline-block;
    cursor: pointer;
    border-radius: getBorderRadius("2");
    border: 1px solid getColorIndex("yellow", 5);
    background-color: getColorIndex("black", 1);
    color: white;
    &--secundario {
        background-color: white;
        color: #0056b8;
    }
    &--terciario {
        background-color: getColorIndex("black", 1);
        color: getColorIndex("yellow", 5);
        text-decoration: none;
        border: none;
        &:hover {
            text-decoration: underline;
        }
    }
    &--alternativo {
        background-color: #ed8936;
        border-color: #ed8936;
        color: white;
    }
    &--peligroso {
        background-color: #c53030;
        border-color: #c53030;
        color: white;
    }
}