$max-columns:12;
$border-radius: ( "0": 0px, "1": 2px, "2": 4px, "3": 6px, "4": 8px, "5": 16px, "6": 32px);
$font-sizes: ( "3xs": 8px, "2xs": 10px, "xs": 12px, "s": 14px, "m": 16px, "l": 18px, "xl": 20px, "2xl": 22px, "3xl": 24px);
$breakpoints:( "movil":576px, "tablet":768px, "desktop":992px);
$margins: ( "0": 0px, "1": 4px, "2": 8px, "3": 12px, "4": 16px, "5": 20px, "6": 24px, "7": 32px, "8": 40px);
$paddings:map-merge( $margins, ("auto":"auto"));
$widths: ( "0":0px, "1": 4px, "2": 8px, "3": 12px, "4": 16px, "5": 20px, "6": 24px, "7": 32px, "8": 40px, "9": 60px);