@each $nombre-color in map-keys($colores){
    $rango-colores:map-get($colores, $nombre-color);
    @if(length($rango-colores)==1){
        .g--background-color-#{$nombre-color} {
            background-color: $rango-colores;
            }
        }@else{
            @for $index-color from 0 to length($rango-colores)  {
        .g--background-color-#{$nombre-color}-#{$index-color+1} {
            background-color: nth($rango-colores, $index-color+1);
            }}
        }
    }
     


