

@each $name, $value in $margin {
    .g--margin-#{$name} {
      margin: $value;
    }

    .g--margin-top-#{$name} {
      margin-top: $value;
    }

    .g--margin-bottom-#{$name} {
      margin-bottom: $value;
    }

    .g--margin-right-#{$name} {
      margin-right: $value;
    }

    .g--margin-left-#{$name} {
      margin-left: $value;
    }

    .g--margin-horizontal-#{$name} {
      margin-left: $value;
      margin-right: $value;
    }
    .g--margin-vertical-#{$name} {
      margin-bottom: $value;
      margin-top: $value;
    }
}