

@each $name, $value in $margin {
    .g--margin-#{$name} {
      margin: $value;
    }

    .g--margin-top-#{$name} {
      margin: $value;
    }

    .g--margin-bottom-#{$name} {
      margin: $value;
    }

    .g--margin-#{$name} {
      margin: $value;
    }

    .g--margin-#{$name} {
      margin: $value;
    }

    .g--margin-#{$name} {
      margin: $value;
    }
    .g--margin-#{$name} {
      margin: $value;
    }
}