@each $name, $value in $padding {
    .g--padding-#{$name} {
      padding: $value;
    }

    .g--padding-top-#{$name} {
      padding-top: $value;
    }

    .g--padding-bottom-#{$name} {
      padding-bottom: $value;
    }

    .g--padding-right#{$name} {
      padding-right: $value;
    }

    .g--padding-left-#{$name} {
      padding-left: $value;
    }

    .g--padding-horizontal-#{$name} {
      padding-left: $value;
      padding-right: $value;
    }

    .g--padding-vertical-#{$name} {
      padding-bottom: $value;
      padding-top: $value;
    }
}