.l-page{
    display: grid;
    grid-template-areas: "head""body""footer";
    font-family: Arial, Helvetica, sans-serif;
    &__head{
        display: grid;
        grid-area: head;
    }
    &__body{
        display: grid;
        grid-area: body;
    }
    &__footer{
        display: grid;
        grid-area: footer;
    }
}

.l-extremos{
    display: grid;
    grid-template-areas: "izquierda derecha";
    &__izquierda{
        display: grid;
        grid-area: izquierda;
    }
    &__derecha{
        display: grid;
        grid-area: derecha;
    }
}

.l-columns{
    display: grid;
    grid-template-areas: "columna-izquierda columna-derecha";
    &--2 {
        grid-area: columna-derecha;
        grid-gap: 100px;
    }
    &--3 {
        grid-template-areas: "columna-izquierda columna-centro columna-derecha";
        grid-area: columna-centro;
        grid-gap: 12px;
    }
}

.l-dolmen {
    display: grid;
    
    &--tumbado-izquierda{
        grid-template-areas: 
        "cabeza arriba"
        "cabeza abajo";
        float: left;
    }
    &__cabeza{
        grid-area: cabeza;
    }
    &__pata-izquierda {
        grid-area: arriba;
    }
    &__pata-derecha{
        grid-area: abajo;
    }
    
}

.circular {
    border-radius: 50%;
    max-height: 68%;
    max-width: 68%;
    float: right;
    margin-right: 5px;
}

.espirales {
    max-height: 120%;
    max-width: 120%;
}
.c-body{
   
}
.c-section{
margin:2% 15%;

}

.c-button{
    margin-top: 3%;
    border: none;
    font-size: 14px;
    font-weight: bold;
    width: 178px;
    height: 54px;
    padding: 12px;
    color: white;
    background-color:rgb(59,130,246);
    border-radius: 12px;
    &__terciario{ 
    background-color: transparent;
    color:#4463eb;
    }
}
.c-tag{
    height: 38px ;
    width: 17px;
    font:rgb(64,137,242);
    background-color:rgb(219,234,254);
}

.c-card{
    border-radius:15px;
    height: 454px;
    width: 313px;
    margin-bottom: 2px;
    &__image{
        max-width: 33%;
        max-height: 33%;
    }
    &__body{
        display:flex;
        align-items: center;
        justify-content: center;
    }
    
}
.c-title{
    &--destacado{
        color:blue;
    }
    &--degradado{        
        background: -webkit-linear-gradient(45deg, #57a1f0, #22d1ee 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    &--size-XS{
        font-size:1.125rem;
        font-weight:500;
    }
    &--size-S{
        font-size:1.875rem;
        font-weight:600;
    }
    &--size-M{
        font-size:2.5rem;
        font-weight:650;
        text-align: center;
    }
    &--size-L{
        font-size:3.75rem;
        font-weight:700;
    }
    &--size-XL{
        font-size:5rem;
        font-weight:800;
    }
}
.c-parrafo{
    &--cabecera{
        text-align: center;
        margin: 0% 23%;
    }
    
    font-size:20px;
    margin-top: .5rem;
    color:#87919c;
}
.c-subtitle{
    --tw-text-opacity:1;
    font-size: .875rem;
    line-height: 1.25rem;
    color:rgba(37,99,235,var(--tw-text-opacity));
}
